body, html {
    background-color: #FFFFFF;
color: #000000;
font-family: "Futura Plain", Futura, Helvetica, Arial, sans-serif;
max-width: 1369px;
margin: 0 auto;
padding: 0;
font-size: 10px;
}
#wrapper
{
     padding:1rem 2rem;
     overflow:auto;
     
}
div.headline {
margin-bottom: 1.5rem;
font-size: 5rem;
font-weight: bold;
white-space: normal;
}

div.subheadline {
    font-size: 27px;
    font-weight: normal;
    margin-top: 7px;
}

div.benefits_title {
  font-size: 3.5rem;
font-family: "Futura Medium", Futura, Helvetica, Arial, sans-serif;
font-weight: bold;
margin-top: 3.5rem;
}

div.benefits_subtitle {
    font-size: 25px;
    font-family: "Futura Medium", Futura, Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-top: 5px;
    white-space: nowrap;
}

div.upsell_image {
    max-width: 100%;
text-align: center;
height: auto;
position: relative;
display: block;
margin: 0;
}

div.upsell_image img {
     width: 100%;
height: auto;
display: block;
margin: 0 auto;
}

div.benefits_detail {
    font-size: 3.2rem;
}

div.benefits_more { 
    font-size: 3rem;
margin-top: 3rem;
}

div.learn_more {
    font-size: 23px;
    margin-top: 45px;
    margin-bottom: 30px;
    text-align: center;
}

div.clear_both {
    clear:both;
}

div.signup {
     width: 100%;
     text-align: center;
}

table.signup_buttons {
    width: 100%;
    text-align: center;
    margin-top: 45px;
}
div.button_inner
{
    padding: 1.5rem 0px 1.8rem 0px;
    
}
div.signup_action {
}

div.no_thanks_container {
  width: 100%;
  text-align: center;
}

.no_thanks {
border: none;
background-color: #FFFFFF;
font-size: 2.8rem;
font-weight: normal;
color: #000000;
text-align: center;
max-width: 100%;
white-space: nowrap;
padding: 1rem;;
font-family: "Futura Medium", Futura, Helvetica, Arial, sans-serif;
}

span.no_thanks_arrow {
    padding: 5px 20px 0px 20px;
   
    width: 30px;
  
}

div.bottomBox {
}

td.fallbackPadding, td.modalPadding {
  width: 25%;
}

td.signupPadding {
  width: 18%;
}

div.modalButton_container table {
  width: 100%;
}


div.fallbackButton {
  font-size: 25px;
  text-align: center;
  vertical-align: center;
}

div.signupButton {
  font-size: 27px;
  text-align: center;
  vertical-align: center;
}

div.after_signup_buttons {
   margin-top: 3.5rem;
font-size: 2.3rem;
font-weight: normal;
color: #000000;
}

div.legal {
  margin-top: 1.5rem;
font-size: 1.8rem;
font-weight: normal;
color: #000000;
text-align:justify;
}

.prime-modal-container {
    background-color: #FFFFFF;
  max-width: 100%;
}

.signupResult {
  display:none;
  z-index:9999;
  background-color:#FFFFFF;
  position:absolute;
}

.prime-modal-title {
max-width: 100%;
background-color: #FFFFFF;
color: #000000;
border-top: 5px solid #000000;
border-left: 5px solid #000000;
border-right: 5px solid #000000;
border-bottom: none;
font-size: 2.5rem;
font-weight: bold;
font-family: "Dialog Bold", Futura, Helvetica, Arial, sans-serif;
padding: 10px 20px;
vertical-align: middle;
text-align: left;
white-space: nowrap;
}

.prime-modal-body {
max-width: 100%;
background-color: #FFFFFF;
color: #000000;
border: 5px solid #000000;
font-size: 2.7rem;
padding: 10px 20px;
text-align: left;
}

.prime-modal-text {
    padding-bottom: 10px;
    max-width: 676px;
}

#modalButton, #errorButton, .modalButton, .modal-button {
    max-width:  300px;
    font-family: "Futura Plain", Futura, Helvetica, Arial, sans-serif;
    font-size: 25px;
    vertical-align: middle;
    text-align: center;
    font-size: 2.5rem;
    margin: 10px auto;
}

.waitingDialogText {
    background-color: #FFFFFF;
    color: #000000;
    font-size: 25px;
    padding-left: 10px;
    vertical-align: middle;
    text-align: center;
}

.amznButtonPrice {
   color: #000000;
background-color: #FFFFFF;
font-weight: bold;
font-size: 3.2rem;
max-width: 100%;
vertical-align: middle;
text-align: center;
white-space: normal;
border-width: 1px 15px 0px 10px;
}

.amznButtonPricePressed {
  color: #FFFFFF;
    font-weight: bold;
    font-size: 3.2rem;
    max-width: 100%;
    vertical-align: middle;
    text-align: center;
    white-space: normal;
    border-width: 1px 15px 0px 10px;
}

.textAppearanceAmazonButton, .textAppearanceAmazonButtonDisabled, .textAppearanceAmazonButtonPriceDisabled, .textAppearanceAmazonButtonPurchaseDisabled {
  font-size: 3.2rem;
  color: #000000;
}

div.fallbackButton_container, div.fallbackButton_container table {
  text-align: center;
  width: 100%;
}

div.fallbackButton, div.modalButton, table.modalButton {
  text-align: center;
}

.modalButtonSmall
{
  text-align: center;
  max-width: 100px;
}

/* BUTTONS */

.amznButton {
  color: #000000;
  background-color: #FFFFFF;
  max-width: 500px;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  border-width: 1px 15px 0px 10px;
}

.amznButtonPressed {
  color: #FFFFFF;
  max-width: 500px;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  border-width: 1px 15px 0px 10px;
}

.table {
  width: 100%;
  display: table-row;
}

.table-cell {
  display: table-cell;
}

.spinner {
  -moz-animation:spinnerRotateClockwise 5s;
  -webkit-animation:spinnerRotateClockwise 5s;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-transform-origin: center;
  -moz-animation-duration: 4s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-transform-origin: center;
  width: 48px;
  height: 48px;
  background-position: -8px -8px;
}


@-moz-keyframes spinnerRotateClockwise /* Firefox */
{
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(1080deg);
  }
}

@-webkit-keyframes spinnerRotateClockwise /* Safari and Chrome */
{
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(1080deg);
  }
}

@-o-keyframes spinnerRotateClockwise /* Opera */
{
  from {
    -o-transform: rotate(0deg);
  }

  to {
    -o-transform: rotate(1080deg);
  }
}

@media all and (max-width:1023px) and (min-width:769px) {
    
    div.headline {
    margin-bottom: 1rem;
    font-size: 4rem;
    }
    div.benefits_title {
    font-size: 2.5rem;
    margin-top: 1.5rem;
    }
    div.benefits_detail {
font-size: 2.2rem;
}
div.benefits_more {
font-size: 2rem;
margin-top: 1.5rem;
}
table.signup_buttons {
margin-top: 30px;
}
.amznButtonPrice {
font-size: 2.8rem;
}
.textAppearanceAmazonButton, .textAppearanceAmazonButtonDisabled, .textAppearanceAmazonButtonPriceDisabled, .textAppearanceAmazonButtonPurchaseDisabled {
  font-size: 2.8rem;
}
.no_thanks {
font-size: 2.2rem;
}
span.no_thanks_arrow {
padding: 9px 20px 0px 15px;
}
div.after_signup_buttons {
margin-top: 3rem;
font-size: 2rem;
}
div.legal {
margin-top: 1rem;
font-size: 1.5rem;
}
.prime-modal-body {
font-size: 2.5rem;
}
.prime-modal-title {
font-size: 2.3rem;
}
#modalButton, #errorButton, .modalButton, .modal-button {
max-width: 300px;
font-size: 25px;
font-size: 2.5rem;
margin: 10px auto;
}
    
}

@media all and (max-width:768px) and (min-width:481px) {
    
    div.headline {
   margin-bottom: 0.5rem;
font-size: 2.6rem;
    }
    div.benefits_title {
    font-size: 2rem;
margin-top: 1rem;
    }
    div.benefits_detail {
font-size: 1.9rem;
}
div.benefits_more {
font-size: 1.8rem;
margin-top: 1rem;
}
table.signup_buttons {
margin-top: 20px;
}
.amznButtonPrice {

font-size: 2.5rem;
}
.textAppearanceAmazonButton, .textAppearanceAmazonButtonDisabled, .textAppearanceAmazonButtonPriceDisabled, .textAppearanceAmazonButtonPurchaseDisabled {
  font-size: 2.5rem;
}
.no_thanks {
font-size: 1.6rem;
}
span.no_thanks_arrow {
padding: 13px 17px 0px 16px;
}
div.after_signup_buttons {
margin-top: 2rem;
font-size: 1.7rem;
}
div.legal {
margin-top: 1rem;
font-size: 1.4rem;
}
#modalButton, #errorButton, .modalButton, .modal-button {
max-width: 200px;
font-size: 25px;
font-size: 2.5rem;
margin: 7px auto;
margin:0.7rem auto;
}
.prime-modal-body {
border: 2px solid #000000;
font-size: 2rem;
padding: 5px 10px;
padding: 0.5rem 1rem;
}
.prime-modal-title {
border-top: 2px solid #000000;
border-left: 2px solid #000000;
border-right: 2px solid #000000;
font-size: 2rem;
padding: 5px 10px;
padding: 0.5rem 1rem;
}

    
}

@media all and (max-width:480px) {
    
    div.headline {
margin-bottom: 0.2rem;
font-size: 2rem;
    }
    div.benefits_title {
   font-size: 1.7rem;
margin-top: 1rem;
    }
    div.benefits_detail {
font-size: 1.6rem;
}
div.benefits_more {
font-size: 1.5rem;
margin-top: 0.8rem;
}
table.signup_buttons {
margin-top: 10px;
}
.amznButtonPrice {

font-size: 2rem;
}
.textAppearanceAmazonButton, .textAppearanceAmazonButtonDisabled, .textAppearanceAmazonButtonPriceDisabled, .textAppearanceAmazonButtonPurchaseDisabled {
  font-size: 2rem;
}
.no_thanks {
font-size: 1.2rem;
}
span.no_thanks_arrow {
padding:16px 17px 0px 16px
}
div.after_signup_buttons {
margin-top: 1.7rem;
font-size: 1.4rem;
}
div.legal {
margin-top: 1rem;
font-size: 1.1rem;
}
.prime-modal-title {
border-top: 2px solid #000000;
border-left: 2px solid #000000;
border-right: 2px solid #000000;
font-size: 2rem;
padding: 5px 10px;
}
.prime-modal-body {
border: 2px solid #000000;
font-size: 2rem;
padding: 5px 10px;
}
#errorButton, .modalButton, .modal-button {
max-width: 150px;
font-size: 2px;
font-size: 2rem;
margin: 10px auto;
}
}
